
head{
    font-family: 'Times New Roman', Times, serif;
font: 900;
display: inline-block;
background-color: rgb(71, 143, 191);
;}
header{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
display: block;
background-color: cornflowerblue;
text-align: center;}
header>nav>a:hover{
    background-color: #2d8a9f;
    color: #fff;
    border: 1px solid #fff}
    main{background-color: #ebebeb;
    padding: 1rem;
max-width: 60rem;
margin: 1rem auto;}
header>nav{padding-left: 3rem;
    padding-bottom: 0rem;
    padding-top: 0rem;
    padding-right: 3rem;
font-size: xx-large;
font-weight: 500;
}
    header{
        background-color: #2f7f92;
        color: #fff;
    }

        header>img{max-width: 6rem;
        margin: 1rem;}
        header>h1{display: inline-block;
            margin: 1rem;
            vertical-align:top;}
        
            :visited{color: blueviolet;}
            body{background-image: url(Images/cheese.jpg);
           background-position: top;
           background-repeat:repeat;
           background-size: auto;
            }
            head>image{
                margin-left: auto;
                margin-right: auto;
            }
            .center{display: block;
                margin-left: auto;
                margin-right: auto;
                width: 50%;}